body {
    font-family: "Roboto";
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */
.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-span {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.header-logo {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin: 0 93px 0 0;
}

.header-nav {
    display: flex;
    flex: wrap;
}

.header-list {
    display: flex;
    flex: wrap;
    align-items: center;
    gap: 50px;
}

.header-link {
    color: #212121;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;

}

.header-link:hover {
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-connection {
    display: flex;
    flex: wrap;
    align-items: center;
    margin-left: 344px;
    gap: 50px;
}

.header-email {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-email:hover {
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-number {
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

/* hero */
.hero {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40) 10%), url("./images/peoples_meeting.webp");
    background-repeat: no-repeat;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;

    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    background: #2196F3;
    width: 216px;
    height: 50px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* about */
.about {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-list {
    display: flex;
    flex: wrap;
    gap: 23px;
}

.about-item {
    width: 285px;
    background-size: 70px 70px;
}

.about-item::before {
    background-size: 70px 70px;
    display: block;
    height: 120px;
    width: 270px;
    background-repeat: no-repeat;
    background-color: #F5F4FA;
    background-position: center;
    margin-bottom: 30px;
}

.about-item:nth-child(1)::before {
    content: "";
    background-image: url("./images/antenna.webp");
}

.about-item:nth-child(2)::before {
    content: "";
    background-image: url("./images/clock.webp");

}

.about-item:nth-child(3)::before {
    content: "";
    background-image: url("./images/diagram.webp");

}

.about-item:nth-child(4)::before {
    content: "";
    background-image: url("./images/astronaut.webp");

}

.about-title {
    color: #212121;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: 270px;
    margin-bottom: 10px;
}

.about-text {
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    width: 270px;
    height: 72px;
}

/* doing */

.doing {
    padding-bottom: 94px;
    background: #FFF;
}

.doing-list {
    display: flex;
    flex: wrap;
    gap: 30px;
}

.doing-title {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.doing-img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}

/* team */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}

.team-title {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    flex: wrap;
    gap: 30px;
}

.team-item {
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team-img {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
}

.team-subtitle {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 30px;
}

.team-text {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 10px;

}

/* footer */
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.footer-span {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;

}

.footer-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-top: 20px;
    display: block;
}

.footer-email {
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.footer-number {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}